<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="assets/logo1.png" alt="..." /></div>
        <div class="col-lg-4">
            <h1 class="font-weight-light">World's #1 online Bootcamp</h1>
            <p>1,000,000 careers advanced. <br>
                1,000 live classes every Month, <br>
                85% report career benefits including promotion or a new job</p>
            <a class="btn btn-primary" href="https://www.simplilearn.com/#post-graduate-programs">Explore Programs</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0" style="font-size:xx-large;" >Get Certified, Get Ahead with our Programs</p></div>
    </div>