<!-- Content Row-->
<div class="row gx-3 gx-lg-8">
    <div class="col-md-4 mb-5 mr-4 ml-4">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Post Graduate program in learn Six Sigma</h2>
                <p class="card-text">Duration: 6 months Cohort starts: 04 oct 2020</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.simplilearn.com/pgp-lean-six-sigma-certification-training-course">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Post Graduate program in Full stact Web Developement</h2>
                <p class="card-text">Duration: 9 months cohort starts: 11 oct 2020</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.simplilearn.com/pgp-full-stack-web-development-certification-training-course">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Post Graduate Program In Cyber Security</h2>
                <p class="card-text">Duration: 6 months cohort starts: 28 sep 2020</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.simplilearn.com/pgp-cyber-security-certification-training-course">More Info</a></div>
        </div>
    </div>
    <div class="card text-white my-5 py-4 text-center">
        <div class="center">
            <video  width="300" height="248" controls style="align-content: center;">
                <source src="assets/vid.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>
<div class="card-body" id="youtube">
    <p class="text-white m-8" style="font-size: large; text-align:center;">
    <a href="https://www.youtube.com/watch?v=Z478ODY4ceQ"><img src="assets/you.png" alt="" class="img-fluid rounded mb-4 mb-lg-0"></a></p>
    <br><h4>check out our YouTube channel for Technical videos and Tutorial</h4>
</div>